django==1.9.6
django-extensions
django-autocomplete-light
django-bootstrap3-datepicker
django-bootstrap3
django-crispy-forms
django-filter
django-bootstrap-pagination
django-forms-bootstrap
django-tables2
django-suit
django-select2
django-easy-select2
pdfminer