<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load notice_types %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}
                {% trans "Banque de données du LMHS" %}
            {% endblock %}
        </title>
        <link rel="icon"
        type="image/png"
        href="/static/media/lmhs_icone.png" />


        <!-- Bootstrap Core CSS -->
        <link href="{% static 'sbadmin2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'sbadmin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/'>Banque de données du LMHS</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">

                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-add fa-fw"></i>Gérer <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Gérer les </li>
                            <li>
                                <a href="/gerer_auteurs">Auteurs</a>
                                <a href="/gerer_motcles">Mots-clés</a>
                                <a href="/gerer_projets">Projets</a>
                            </li>
                        </ul>
                    </li>

                    <ul class="nav navbar-top-links navbar-right">

                    <a href="JavaScript:newPopup('/admin/lmhsweb/main/add/?_to_field=id&amp;_popup=1');">Nouvelle Notice</a>
                <!--
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-add fa-fw"></i>Nouvelle notice <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Sélectionnez le type</li>
                            {% types as type_list %}
                            {% for t in type_list %}
                                <li><a href='/create/?type={{ t }}'>{{ t }}</a></li>
                            {% endfor %}
                        </ul>
-->
                        <!-- /.dropdown-user -->
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>{{ user }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{% trans "Compte" %}</li>
                            <li>
                                <a href='{% url "logout" %}'>
                                    <i class="fa fa-sign-out fa-fw"></i>
                                    {% trans "Se déconnecter" %}
                                </a>
                            </li>
                            <li>
                                <a href="JavaScript:newPopup('/admin/password_change/?_to_field=id&amp;_popup=1')">
                                    <i class="fa fa-key"></i>
                                    Modifier le mot de passe
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                    {% else %}
                    <li>
                        <a href='/login/?next={{request.get_full_path}}'>
                            <i class="fa fa-sign-in fa-fw"></i>
                            {% trans "Se connecter" %}
                        </a>
                    </li>
                    {% endif %}
                    <!-- /.dropdown -->
                </ul></ul>
                <!-- /.navbar-top-links -->


            </nav>
        </div>
            <div id="page-wrapper" style="padding-top:1px;">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible">
                        {% elif message.tags == 'success'%}
                            <div class="alert alert-success alert-dismissible">
                        {% elif message.tags == 'info'%}
                            <div class="alert alert-info alert-dismissible">
                        {% elif message.tags == 'warning'%}
                            <div class="alert alert-warning alert-dismissible">
                        {% else %}
                            <div class="alert alert-info alert-dismissible">
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}

                <div id="fullCalModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div id="modalBody" class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="{% static 'sbadmin2/bower_components/jquery/dist/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'sbadmin2/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'sbadmin2/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'sbadmin2/dist/js/sb-admin-2.js' %}"></script>

                <!-- DataTables JavaScript -->
        <script src="{% static 'sbadmin2/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'sbadmin2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'sbadmin2/test.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'sbadmin2/bower_components/raphael/raphael-min.js' %}"></script>
        <script src="{% static 'sbadmin2/bower_components/morrisjs/morris.min.js' %}"></script>
        <script src="{% static 'sbadmin2/js/morris-data.js' %}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            // Popup window code
            function newPopup(url) {
                popupWindow = window.open(
                    url,'popUpWindow','height=800,width=1000,left=500,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
            }

        </script>

    </body>
        {% block extrascript %}{% endblock %}

    {% block footer %}
    <footer>
        <br>
        <div class="col-md-10 col-md-offset-1" align="center" style="color:#808080;font-size:10px;">
            <a href="http://emf.oicrm.org" target="_blank"><img src="/static/media/emf_logo.png" alt="EMF" style="float: center; width: 9%; margin-right: 1%; margin-bottom: 0.5em;"></a><a href="http://pressemusicale.oicrm.org" target="_blank"><img src="/static/media/presse_musicale_logox.png" alt="Presse musicale" style="float: center; width: 12%; margin-right: 1%; margin-bottom: 0.5em;"></a><a href="http://lmhs.oicrm.org" target="_blank"><img src="/static/media/lmhs_logo.png" alt="lmhs" style="float: center; width: 6%; margin-right: 1%; margin-bottom: 0.5em;"></a>
            <br>
            <h5>Mention légale</h5>

            <p>Les articles de presse reproduits dans la banque de données sont libres de droits. Leur diffusion dans la banque de données est non commerciale et respecte les critères d'utilisation équitable aux fins de recherche ainsi qu'établie par la Loi sur le droit d'auteur du Canada (L.R.C. (1985), ch. C-42: <a href="http://laws-lois.justice.gc.ca/fra/lois/C-42/page-9.html#h-26">http://laws-lois.justice.gc.ca/fra/lois/C-42/page-9.html#h-26</a>).
            Les PDF des articles des revues suivantes ont été téléchargés (sauf quelques exceptions) de Gallica: Le Ménestrel, La Musique pendant la guerre, La Tribune de Saint-Gervais, Le Mercure de France, La Revue politique et littéraire «Revue bleue».
            </p>
            <br>
        </div>
    </footer>
    {% endblock %}
</html>
