{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gérer les auteurs
                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="add_id_cote_auteur"
                        href="JavaScript:newPopup('/admin/lmhsweb/auteur/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter un autre objet Cote auteur">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <ul>
        {% for auteur in all_auteurs %}
            <li class="list-group-item"> {{ auteur.nom }}&nbsp;; {{ auteur.cote }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_auteur"
                        href="JavaScript:newPopup('/admin/lmhsweb/auteur/{{ auteur.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier l'auteur">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_auteur"
                        href="JavaScript:newPopup('/admin/lmhsweb/auteur/{{ auteur.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer l'auteur">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>

        {% endfor %}
    </ul>


{% endblock %}