{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block extrascript %}
<!-- DatePicker JavaScript -->
<script type="text/javascript" src="{% static 'datetimepicker/js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'sbadmin2/bower_components/bootstrap/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'sbadmin2/bower_components/bootstrap/js/collapse.js' %}"></script>
<script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#id_start_date').datetimepicker({
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
    });

    $(function() {
        $('#id_end_date').datetimepicker({
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
    });

</script>

{{ form.media }}
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<!--    <script src="//code.jquery.com/jquery-1.12.4.js"></script>-->
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'search_autocomplete/autocomplete.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 sticky">
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center>Présentation</center>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    Cette banque de données héberge le corpus des projets de recherche sur la
                    presse musicale menés par l’équipe de recherche Musique en France aux
                    XIX<sup>e</sup> et XX<sup>e</sup> siècles : discours et idéologies (<a target="_blank" href="http://emf.oicrm.org/">ÉMF</a>).
                    Ces projets sont regroupés sur le site <i>Presse musicale en France entre 1890 et
                        1950</i> (voir <a href="http://pressemusicale.oicrm.org/projets-de-recherche/" target="_blank">ici</a> la présentation des
                    projets terminés et en cours).
                </p>
                <p>
                    Elle sert également de catalogue du centre de documentation du Laboratoire Musique,
                    histoire et société (LMHS) de l’OICRM (documents d’archives, revues anciennes,
                    partitions, index, ouvrages) dont une partie des items sont reliés au projet de l’ÉMF.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center>Recherche - Base de données du LMHS</center>
                </h3>
            </div>
            <div class="panel-body">

                <form class="form" action="/list/" method="get">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="submit">Chercher</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 sticky">
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center>Mode d'emploi</center>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    La plupart des documents PDF contenus dans la banque de données ont subi
                    un traitement de reconnaissance de texte (OCR) et il est donc possible de
                    les interroger à travers le champ <b>“Recherche plein texte”</b>. Cependant,
                    cette méthode de recherche n’est pas toujours fiable en raison de la qualité
                    souvent imparfaite des reproductions.
                </p>
                <p>
                    Tout document sélectionné a été indexé selon des systèmes de mots clés propres
                    aux différents projets. Certains sont explicités dans les documents accessibles
                    sous le champ de recherche <b>“Mot-clé”</b>.
                </p>
                <p>
                    Il est possible de limiter la recherche au corpus d’un projet spécifique
                    (champ <b>“Projet”</b>) ou à un organe de presse (champ <b>“Source”</b>).
                </p>
                <p>
                    Le champ <b>“Corpus”</b> permet d’accéder à des résultats de recherche préconstitués
                    autour d’un sujet (voir le menu déroulant).
                </p>
                <p>
                    La banque de données est en accès libre. En raison des règles du droit d’auteur,
                    pour consulter certains documents, il est toutefois nécessaire de s’inscrire en
                    cliquant sur le bouton <b>“S’inscrire”</b> en haut à droite.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<script type="text/javascript">
    $("#id_auteur__nom").autocomplete({
        source: "/auteur_autocomplete/",
        minLength: 0,
    });

    function AuteurFocus() {
        $("#id_auteur__nom").autocomplete('search');
    }
    $("#id_auteur__nom").focus(AuteurFocus)

    function split(val) {
        return val.split(/,\s*/);
    }

    $(function() {
        $("#id_mot_cle__nom")
            // don't navigate away from the field on tab when selecting an item
            .on("keydown", function(event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: "/motcle_autocomplete/",
                focus: function() {
                    return false;
                },
                select: function(event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });
    $('form[method="get"]').on("submit", function(){
        str = $("#id_mot_cle__nom").val();
        if (str.endsWith(", ")) {
            $("#id_mot_cle__nom").val(str.substring(0, str.length - 2));
        }
    });

</script>
<style>
    #page-wrapper {
        background: url('../static/media/typewriter9_blur.jpg') center / cover;
    }

    @media (min-width:992px) {
        .sticky {
            position: sticky;
            top: -30px;
        }
    }

</style>
{% endblock %}
