{% extends 'base.html' %}
{% block content %}
  <br><br><br><br>
    <center class="text-success">
      <h1><i class="fa fa-check-circle"></i></h1>
      <h3> Nous vous avons envoyé par courriel les instructions pour définir votre mot de passe. </h3>
      <p>Vous devriez les recevoir sous peu.</p>
        <p>Si vous ne recevez pas de courriel, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit
        et vérifiez dans vos courriers indésirables</p>
    </center>
{% endblock %}