{% extends "base.html" %}
{% block content %}
<br><br><br><br>
    <center class="text-danger">
        <h1><i class="fa fa-exclamation-circle"></i></h1>
        <h3> Il y a une erreur dans votre formulaire d'inscription </h3>
        <p>Veuillez vérifier que tout les champs sont bien remplis et essayer de nouveau.</p>
        <p>Si vous avez déjà soumis une demande avec cette adresse courriel veuillez attendre une réponse de notre équipe.</p>
        <a href="javascript:history.back()">Retour au formulaire</a><br>
        <a href="/">Retour à la page d'accueil</a>
    </center>
{% endblock %}