<div class="form-group  ">
    <label class="control-label">
        Auteurs
    </label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/auteur-autocomplete/" id="id_auteur" name="auteur">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_editeur" class="form-group  ">
    <label for="id_editeur" class="control-label  ">Éditeur(s)</label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/editeur-autocomplete/" id="id_editeur" name="editeur">
        </select>
    </div>
</div>

<div id="div_id_date" class="form-group  ">
    <label for="id_date" class="control-label  ">
        Date
    </label>
    <div class="">
        <input class=" form-control" id="id_date" maxlength="100" name="date" type="text"/>
    </div>
</div>

<div id="div_id_no_page" class="form-group  ">
    <label for="id_no_page" class="control-label  ">
        Numéro(s) de page
    </label>
    <div class="">
        <input class=" form-control" id="id_no_page" maxlength="20" name="no_page" type="text"/>
    </div>
</div>

<div id="div_id_langue_origine" class="form-group  ">
    <label for="id_langue_origine" class="control-label  ">
        Langue d'origine
    </label>
    <div class="">
        <select class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/langue_origine-autocomplete/" id="id_langue_origine"
                name="langue_origine">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_traducteur" class="form-group  ">
    <label for="id_traducteur" class="control-label  ">
        Traducteur(s)
    </label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/traducteur-autocomplete/" id="id_traducteur" name="traducteur">
        </select>
    </div>
</div>


<div id="div_id_source" class="form-group  ">
    <label for="id_source" class="control-label  ">
        Source
    </label>
    <div class="">
        <input class=" form-control" id="id_source" maxlength="200" name="source" type="text"/>
    </div>
</div>


<div id="div_id_commentaire" class="form-group  ">
    <label for="id_commentaire" class="control-label  ">
        Commentaire
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_commentaire" name="commentaire" rows="10"></textarea>
    </div>
</div>

<div id="div_id_mot_cle" class="form-group  ">
    <label for="id_mot_cle" class="control-label  ">
        Mot(s) clé(s)
    </label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/mot_cle-autocomplete/" id="id_mot_cle" name="mot_cle">
        </select>
    </div>
</div>

<div id="div_id_fonds" class="form-group  ">
    <label for="id_fonds" class="control-label  ">
        Fonds
    </label>
    <div class="">
        <select class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/fonds-autocomplete/" id="id_fonds" name="fonds">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_nb_exemplaire" class="form-group  ">
    <label for="id_nb_exemplaire" class="control-label  ">
        Nombre d'exemplaire
    </label>
    <div class="">
        <input class=" form-control" id="id_nb_exemplaire" name="nb_exemplaire" type="number"/>
    </div>
</div>