<div class="form-group  ">
    <label class="control-label">
    Auteurs
    </label>
    <div class="">
                                            <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2" data-autocomplete-light-url="/auteur-autocomplete/" id="id_auteur" name="auteur">
                                                <option value="" selected="selected">---------</option>
                                            </select>
    </div>
</div>
