<div class="form-group  ">
    <label class="control-label">
        Auteur(s)
    </label>
    <a class="related-widget-wrapper-link add-related" id="add_id_auteur"
       href="JavaScript:smallPopup('/admin/lmhsweb/auteur/add/?_to_field=id&amp;_popup=1');"

       title="Ajouter un autre objet Auteur">
        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
    </a>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/auteur-autocomplete/" id="id_auteur" name="auteur">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_depouillement" class="form-group  ">
    <label for="id_depouillement" class="control-label  ">
        Depouillement
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_depouillement" name="depouillement" rows="10"></textarea>
    </div>
</div>

<div id="div_id_instrumentation" class="form-group  ">
    <label for="id_instrumentation" class="control-label  ">
        Instrumentation
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_instrumentation" name="instrumentation" rows="10"></textarea>
    </div>
</div>

<div id="div_id_lieu" class="form-group  ">
    <label for="id_lieu" class="control-label  ">
        Lieu
    </label>
    <div class="">
        <input class=" form-control" id="id_lieu" maxlength="200" name="lieu" type="text"/>
    </div>
</div>

<div id="div_id_maison_edition" class="form-group  ">
    <label for="id_maison_edition" class="control-label  ">
        Maison d'édition
    </label>
    <div class="">
        <select class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/maison_edition-autocomplete/" id="id_maison_edition"
                name="maison_edition">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_date" class="form-group  ">
    <label for="id_date" class="control-label  ">
        Date
    </label>
    <div class="">
        <input class=" form-control" id="id_date" maxlength="100" name="date" type="text"/>
    </div>
</div>

<div id="div_id_annee_1re_publication" class="form-group  ">
    <label for="id_annee_1re_publication" class="control-label  ">
        Année de 1re publication
    </label>
    <div class="">
        <input class=" form-control" id="id_annee_1re_publication" name="annee_1re_publication" type="number"/>
    </div>
</div>

<div id="div_id_nb_page" class="form-group  ">
    <label for="id_nb_page" class="control-label  ">
        Nombre de page
    </label>
    <div class="">
        <input class=" form-control" id="id_nb_page" maxlength="20" name="nb_page" type="text"/>
    </div>
</div>

<div id="div_id_commentaire" class="form-group  ">
    <label for="id_commentaire" class="control-label  ">
        Commentaire
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_commentaire" name="commentaire" rows="10"></textarea>
    </div>
</div>

<div id="div_id_mot_cle" class="form-group  ">
    <label for="id_mot_cle" class="control-label  ">
        Mot(s) clé(s)
    </label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/mot_cle-autocomplete/" id="id_mot_cle" name="mot_cle">
        </select>
    </div>
</div>

<div id="div_id_fonds" class="form-group  ">
    <label for="id_fonds" class="control-label  ">
        Fonds
    </label>
    <div class="">
        <select class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/fonds-autocomplete/" id="id_fonds" name="fonds">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>

<div id="div_id_nb_exemplaire" class="form-group  ">
    <label for="id_nb_exemplaire" class="control-label  ">
        Nombre d'exemplaire
    </label>
    <div class="">
        <input class=" form-control" id="id_nb_exemplaire" name="nb_exemplaire" type="number"/>
    </div>
</div>