<div id="div_id_en_collection" class="form-group  ">
    <label for="id_en_collection" class="control-label  ">
        En collection
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_en_collection" name="en_collection" rows="10"></textarea>
    </div>
</div>

<div id="div_id_commentaire" class="form-group  ">
    <label for="id_commentaire" class="control-label  ">
        Commentaire
    </label>
    <div class="">
        <textarea class=" form-control" cols="40" id="id_commentaire" name="commentaire" rows="10"></textarea>
    </div>
</div>

<div id="div_id_mot_cle" class="form-group  ">
    <label for="id_mot_cle" class="control-label  ">
        Mot(s) clé(s)
    </label>
    <div class="">
        <select multiple="multiple" class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/mot_cle-autocomplete/" id="id_mot_cle" name="mot_cle">
        </select>
    </div>
</div>

<div id="div_id_fonds" class="form-group  ">
    <label for="id_fonds" class="control-label  ">
        Fonds
    </label>
    <div class="">
        <select class=" form-control" data-autocomplete-light-function="select2"
                data-autocomplete-light-url="/fonds-autocomplete/" id="id_fonds" name="fonds">
            <option value="" selected="selected">---------</option>
        </select>
    </div>
</div>